*{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0px;

  -webkit-transition-property: all;
  -webkit-transition-duration: .9s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-duration: .9s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu_Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu_Medium_Italic.otf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu_Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu_Italic.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu_Regular.otf") format("opentype");
  font-weight: normal;
}
:root {
  --main-color: #7FCEFF;
  --accent-color: #FB1F00;
  --sayhello-background: #222323;
  --text-color: #2D2F34;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-top 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
body {
  font-family: Apercu, helvetica neue, sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: var(--text-color);
  width: 100%;
  position: relative;
  left: 0;
  transition: left 0.2s;
}
footer {
  background-color: var(--sayhello-background);
  color: white;
  text-align: center;
  padding: 1em;
}
.em {
  height: 1em;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}
a:hover,
a:focus {
  color: var(--main-color);
}
h1 {
  font-size: 4rem;
  line-height: 0.9;
  color: var(--main-color);
  letter-spacing: -0.7px;
}
h2 {
  font-weight: bold;
  font-size: .8rem;
  margin-bottom: .1em;
}
hr {
  color: black;
  background-color: black;
  margin: 2em 0 1em 0;
  height: 4px;
}
p {
  padding: 0;
}
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/********************************/
/****** background stripes *********/
/********************************/
.stripes {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.container {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
  width: 100%;
}
.grid-cell {
  margin-left: 12.5%;
  -webkit-flex-basis: 75%;
  margin-top: 0;
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 100%;
  position: relative;
}
.stripes-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  margin: -.5rem;
}
.stripes-item {
  background: rgba(0,0,0,.07);
  height: 100%;
  width: 1px;
}
/********************************/
/****** top nav styling *********/
/********************************/
nav {
  padding: 1.5em 0;
}
nav img {
  float: left;
}
.navigation{
  list-style-type: none;
  display: inline-block;
  float: right;
}
.navigation li {
  display: inline-block;
}
.navigation li a {
  text-decoration: none;
  padding: 1.9rem;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#logo {
  width: 40px;
}
.project-page .navigation li a {
  color: white;
}
/********************************/
/****** button styling *********/
/********************************/
.btn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
  overflow: hidden;
  margin-top: 3em;
  background-color: #FFF;
}
.btn.btndark {
  margin-left: 30px;
  background-color: transparent;
}
.btn svg {
  position: absolute;
  top: 0; left: 0;
}
.btn svg rect {
  fill: none;
  stroke: var(--accent-color);
  stroke-width: 4;
  stroke-dasharray: 422, 0;
  
  @include transition(all 1300ms $ease-out-expo);
}
.btn:hover {
  background-color: transparent;

}
.btn:hover svg rect {
  stroke-width: 7;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.btn:hover {
  color: var(--accent-color);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}
.btndark:hover {
  background-color: transparent;
}
#menu-btn {
  position: absolute;
  /* Place menu button above menu ul */
  z-index: 2;
  height: 30px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
#menu-btn span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#menu-btn span,
#menu-btn span:before,
#menu-btn span:after {
  display: block;
  position: absolute;
  content: '';
  height: 3px;
  border-radius: 3px;
  width: 100%;
  background: var(--text-color);
  transition: all 200ms ease-in-out;
}
#menu-btn span:before {
  top: -10px;
}
#menu-btn span:after {
  bottom: -10px;
}
#menu-btn.active span {
  background-color: transparent;
}
#menu-btn.active span:before {
  transform: translate3d(0,10px,0) rotate(45deg)
}
#menu-btn.active span:after {
  transform: translate3d(0,-10px,0) rotate(-45deg)
}
/********************************/
/****** homepage header styling *********/
/********************************/
#site-title {
  background: -webkit-linear-gradient(var(--main-color), #A5DDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.2rem; 
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}
#site-description {
  padding: .6em 5em;
  font-size: 1.6rem;
  text-align: center;
}
#scroll-indicator {
  font-size: .8rem;
  font-weight: bold;
  text-align: center;
  margin: 2em;
}
.arrow {
  border: solid var(--accent-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.small-text {
  font-size: 1rem;
  text-align: center;
}
/********************************/
/****** project headers *********/
/********************************/
.project-page header {
background-color: var(--accent-color);
}
.project-intro {
  /* Compensate for the header's fixed position */
  padding: 2em 0;
  background-color: var(--accent-color);
  min-height: 465px;
}
.project-head {
  text-align: left;
  font-size: 4.5rem;
  color: white;
}
.project-desc {
  text-align:left;
  position: relative;
}
.project-desc p {
  width: 40%;
  color: white;
}
.project-desc img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
/********************************/
/****** faq *********/
/********************************/
.plus {
  position: relative;
  float: right;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline:none;
}
.plus span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plus span,
.plus span:before {
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 50px;
}
.plus span:before {
  transform: rotate(90deg);
}

.open .plus span:before {
  background-color: transparent;
}
/********************************/
/****** homepage projects *********/
/********************************/
.home-head {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-head .header-content-wrapper {
  position: relative;
  height: 69vh;
}

.home-head canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#canvas {
  cursor: url(../images/pencil.png) 0 25, auto;
}
.two-column {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5em;
  justify-content: space-between;
}
.two-row {
  display: flex;
  flex-direction: column;
}
.two-row img {
  width:55%;
  padding-bottom: 3em;
}
.section-content {
  width: 45%;
  text-align: left;
}
.section-content p{
  display: inline-block;
}
.break-text {
  text-align: left;
  font-style: italic;
  font-weight: 500;
  width: 45%;
  font-size: 2.2rem;
  line-height: 1.4;
}
.project-page .break-text {
  width: 100%;
}
.subtitle {
  border-bottom: 1px solid var(--accent-color);
}
/********************************/
/****** images *********/
/********************************/
img {
  width: 100%;
  height: auto;
}
.homephotos {
  width: 45%;
  margin-top: 40px;
}
.homephotos img{
  margin-bottom: 1em;
}
.inline-images {
  margin-top: 1.2em;
 /** box-shadow: 0px 0px 38px rgba(0,0,0,0.25);**/
  border-radius: 2px;
  border: solid 1px #D4D8D7;
}
.caption {
  padding: 0.5em;
  font-size: 1rem;
  line-height: 1.15em;
  font-style: italic;
  font-weight: normal;
}
/********************************/
/****** referral cards *********/
/********************************/
.white-float {
  width: 35%;
  box-shadow: 0px 2px 30px rgba(0,0,0,0.20);
  padding: 30px;
  background-color: #FFF;
}

.work-float {
  width: 30%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
}
.homepage-buttons {
  margin-top: 40px;
}
.referral-text {
  font-style: light;
  font-size: 0.9rem;
}
.referral-by {
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 20px;
}
#company {
  padding-top: 0px;
  font-size: .8rem;
  font-weight: bold;
}
.more-work {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 2em;
  margin: 3em 0;
}
.more-work .two-column {
  padding: 0;
}
.more-work p {
  font-size: 0.8rem;
}
.more-work h1 {
  font-size: 2rem;
  margin: 1em 0;
}
.work-float:hover {
  box-shadow: 0 2px 50px rgba(0,0,0,0.3);
}
.projects-btn {
  text-align: center;
}

/********************************/
/****** project page *********/
/********************************/
.verticalbar {
  left: 40px;
  top: 700px;
  display: flex;
  transform: rotate(-90deg);
  transform-origin: 0 50%;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  width: 700px;
}
#margin-line {
  background: black;
  height: 1px;
  margin: 0 20px;
  width: 38%;
}
.wrapper {
  width: 75%;
  padding: 4em 0 0 13em;
  text-align: left;
}
.wrapper-section {
  padding-top: 30px;
}
.grid {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}
.project-page #menu-btn span,
.project-page #menu-btn span:before,
.project-page #menu-btn span:after {
    background: white;
}
.project-page #menu-btn.active span {
  background-color: transparent;
}
/********************************/
/****** accordians *********/
/********************************/
dt{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 40px;
  border-bottom: 1px solid black;
  overflow: hidden;
}
dd {
  margin: 1em 0 0 0 ;
}
dl {
  text-align: left;
  padding: 4em 0;
  width: 40%;
}
/********************************/
/****** say hello *********/
/********************************/
#sayhello {
  background-color: var(--sayhello-background);
  margin-top: 2em;
}
.hello-subtitle {
  color: var(--accent-color);
  font-size: .8rem;
  line-height: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}
#sayhello-content h2{
  border-bottom: 1px solid var(--accent-color); 
  margin-right: 50px; 
}
h5 {
  color: white;
  font-size: 1.05rem;
  margin: 0;
  text-decoration: none;
}
.contact-item {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.contact-item-content {
  /* Force content above ::after element */
  z-index: 2;
  padding: 2em;

}
.contact-item::after,
.contact-item::before {
  border: 2px solid var(--main-color);
  display: block;
  height: 100%;
  width: 100%;
}

.contact-item::before {
  /* Set content of box to empty */
  content: " ";
  /* Position box absolute in relation to relative parent */
  position: absolute;
  /* Offset box by 5px */
  left: 10px;
  top: 10px;

  /* Set the background */
  background-image: linear-gradient(0deg, var(--main-color) 0%, var(--main-color) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 0;

  /* Set animation/transition when background-size changes */
  transition: background-size 500ms -200ms;
}

.contact-item:focus::before,
.contact-item:hover::before {
  background-size: 100% 100%;
}

.contact-item::after {
  content: " ";
  left: 0;
  position: absolute;
  top: 0;
  transition: background 600ms;
  background-color: var(--sayhello-background);
}

.contact-contents {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}
#sayhello-content {
  color: white;
}
#linkedin {
  height: 172px;
  width: 170px;
}
#instagram {
  height: 232px;
  width: 172px;
}
#behance {
  height: 200px;
  width: 172px;
}
/********************************/
/****** About me *********/
/********************************/
.about-page .two-column {
  width: 100%;
  padding: 2em 0;
}
.about-page .contact-wrapper {
  display: flex;
}
.about-page .contact-contents {
  margin: 0;
  width: 47%;
}
.about-page .contact-item::after {
  background-color: white;
}
.about-page h5 {
  color: var(--text-color);
}
.about-page .section-content p {
  padding: 0;
}
/********************************/
/****** Work page *********/
/********************************/
.workphotos {
  width: 100%;
  padding-top: 2em;
}
.work-section {
  width:45%;
}
.work-page .two-column {
  width: 100%;
}
.work-page h1 {
  font-size: 4rem;
}
/********************************/
/****** responsive *********/
/********************************/
@media screen and (max-width: 1300px) {
  .container {
    padding: 0 1em;
  }
}
@media screen and (max-width: 960px) {
  .section-content {
    width: 80%;
  }
  .wrapper {
    width: 80%;
    padding: 2em 0 0 5em;
  }
  .two-column {
    justify-content: space-evenly;
    padding: 2em 0 0 0;
  }
  .work-page .two-column {
    padding: 0;
  }
  #sayhello .two-column {
    padding: 3em 0;
  }
  .homephotos {
    width: 100%;
  }
  .white-float {
    width: 60%;
    margin-top: 100px;
  }
  .thirdfloat {
    display: none;
  }
  .head-img {
    width: 75%;
  }
  dl {
    width: 85%;
    padding-top: 7em;
    margin: 0 auto;
  }
  .project-desc img {
    width: 100%;
    position: static;
  }
  .project-desc p {
    width: 100%;
    margin-bottom: 2em;
  }
  .work-float {
    width: 40%;
    margin: 1em;
  }
  .more-work {
    padding: 1em;
  }
  .white-float {
    margin: 2em;
  }
  .work-section {
    width: 80%;
    padding: 3em 0;
  }
  .about-page .homephotos {
    width: 60%;
  }
  .white-page #sayhello {
    padding: 3em 7em;
  }
  .white-page #sayhello-content {
    width: 100%;
  }
  .white-page .contact-contents {
    margin: 0;
  }
  .about-page .contact-contents {
    width: 80%;
  }
}
@media screen and (max-width: 660px) {
  .work-float {
    width: 90%;
    margin: 1em;
  }
  .section-content {
    width: 100%;
  }
  #site-title {
    line-height: 1em;
    padding-bottom: 1rem;
    height: 35vh;
    padding-top: 2rem;
    margin: 0;
  }
  #site-description {
    padding: .6em 2em;
  }
  #logo {
    /*margin: 10px;*/
    /* Push logo above menu ul */
    position: relative;
    z-index: 2;
  }
  .white-float {
    width: 80%;
  }
  nav {
    height: 60px;
    width: 100%;
  }
  #main-menu {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100vh;
    align-content: center;
    background: white;
    margin: 0;
    padding-top: 100px;
  }
  #main-menu li {
    width: 100%;
    padding: 30px;
    text-align: center;
    padding-right: 5em;
  }
  .project-page #main-menu {
    background: var(--accent-color);
  }
  #logo {
    float: right;
  }
  .verticalbar {
    display: none;
  }
  .wrapper {
    padding: 0;
    width: 100%;
  }
  .work-section {
    width: 100%;
  }
  #myCanvas {
    display: none;
  }
  .small-text {
    display: none;
  }
  .break-text {
    width: 100%;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 490px) {
  .section-content {
    width: 100%;
  }
  .white-float {
    width: 100%;
    margin: 0;
  }
  dl {
    padding: 0;
    width: 100%;
  }
  .homephotos {
    width: 100%;
  }
  .white-page .work-section {
    padding: 2em;
  }
  .white-page #sayhello {
    padding: 2em;
  }
  .plus {
    height: 7px;
    width: 7px;
  }
}
@media screen and (min-width: 660px) {
  #menu-btn {
    display: none;
  }
}