/*@import "bourbon";*/
*{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin:0px;

  -webkit-transition-property: all;
  -webkit-transition-duration: .9s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-duration: .9s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
body {
  font-family:rubik, helvetica neue, sans-serif;
  font-weight:300;
  font-size:1em;
  line-height: 1.5em;
  color:#2E2D34;
  width:100%;
}
p {
  padding-top:20px;
}
a {
  text-decoration:none;
}
/********************************/
/****** background stripes *********/
/********************************/
.stripes {
  height:100%;
  left:0;
  position: fixed;
  top:0;
  width: 100%;
  z-index:-3;
}
.container {
  margin:0 auto;
  max-width:1300px;
  padding: 0 1rem;
  position:relative;
  width:100%;
}
.grid-cell {
  margin-left:12.5%;
  -webkit-flex-basis: 75%;
  margin-top:0;
  box-sizing:border-box;
  display:inline-block;
  flex: 0 0 100%;
  position:relative;
}
.stripes-container {
  display:flex;
  height:100vh;
  justify-content:space-between;
  margin:-.5rem;
}
.stripes-item {
  background:rgba(0,0,0,.07);
  height:100%;
  width:1px;
}
/********************************/
/****** top nav styling *********/
/********************************/
nav {
  padding:30px;
  overflow:auto;
}
nav img {
  float:left;
}
.navigation{
  list-style-type:none;
  display:inline-block;
  float:right;
}
.navigation li {
  display:inline-block;
}
.navigation li a {
  text-decoration:none;
  padding:0px 50px;
  color:#2E2D34;
}
#logo {
  width:40px;
  margin-left:50px;
}
.navigation.project-nav li a {
  color:white;
}
/********************************/
/****** button styling *********/
/********************************/
.btn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 14px;
  font-weight:bold;
  line-height: 45px;
  text-align: center;
  text-decoration:none;
  color: #FB1F00;
  cursor: pointer;
  overflow: hidden;
  margin-top:3em;
}
.btn.btndark {
  color:#D8007F;
  margin-left:30px;
}
.btn svg {
  position: absolute;
  top: 0; left: 0;
}
.btn svg rect {
  fill: none;
  stroke: #FB1F00;
  stroke-width: 4;
  stroke-dasharray: 422, 0;
  
  @include transition(all 1300ms $ease-out-expo);
}
.btn.btndark svg rect {
  stroke:#D8007F;
}
.btn:hover svg rect {
  stroke-width: 7;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.btn:hover {
  color:#FB1F00;
  font-size:18px;
  letter-spacing:1px;
  font-weight:bold;
}
.btndark:hover {
  color:#D8007F;
}
/********************************/
/****** homepage header styling *********/
/********************************/
#site-title {
  background: -webkit-linear-gradient(#FB1F00, #D8007F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top:120px;
  font-size:7em;
  font-weight:500;
  line-height: 2em;
  text-align:center;
}
#site-description {
  padding:10px;
  font-size:1.5em;
  font-weight:300;
  text-align:center;
}
#scroll-indicator {
  padding:109px 0px;
  font-size:.8em;
  font-weight:600;
  text-align:center;
}
i {
  border: solid #FB1F00;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/********************************/
/****** project headers *********/
/********************************/
.project-page header {
background-color:#FB1F00;
}
.project-intro {
  /* Compensate for the header's fixed position */
  padding: 80px 0px 0px 50px;
  background-color: #FB1F00;
  min-height: 465px;
}
.project-head {
  text-align:left;
  font-size:4.5em;
  padding:30px;
  color:white;
}
.project-desc {
  text-align:left;
  margin:30px;
  position: relative;
}
.project-desc p {
  width: 30%;
  color:white;
}
.project-desc img {
  position: absolute;
  top: 0;
  right: 0;
}
.head-img {
  width:40%;
}

/********************************/
/****** homepage projects *********/
/********************************/
.home-head {
  height:100vh;
}
.home-head .header-content-wrapper {
  position: relative;
}
.home-head canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#myCanvas {
  cursor:url(../images/pencil.png),auto;
}
#draw {
  margin-left:70px;
}
.two-column {
  display: flex;
  flex-wrap: wrap;
  margin:50px;
  justify-content:space-between;
}
.section-content {
  width:45%;
  padding:40px;
  text-align:left;
}
.section-content p{
  padding-top:30px;
  float:left;
  display:inline-block;
}
h2 {
  font-weight:500;
  font-size:.8em;
  margin-bottom:10pxh;
}
h1 {
  font-size:6em;
  font-weight:500;
  line-height:0.8;
  padding-top:1em;
  color:#FB1F00;
  letter-spacing:-0.7px;
}
hr {
  color:black;
  background-color:black;
  margin-top:100px;
  height: 5px;
}
.break-text {
  text-align:left;
  font: italic 2em/1em rubik;
}
img {
  width:100%;
  height:auto;
}
.homephotos {
  width:50%;
  margin-top:40px;
}
.subtitle {
  border-bottom:1px solid #FB1F00;
}
/********************************/
/****** referral cards *********/
/********************************/
.white-float {
  width:28%;
  box-shadow:0px 10px 30px rgba(0,0,0,0.20);
  padding:30px;
  margin:100px 100px;
}
.homepage-buttons {
  margin-top:40px;
}
.referral-by {
  font-size:.8em;
  text-transform:uppercase;
  font-weight:400;
  padding-top:20px;
}
#company {
  padding-top:0px;
  font-size:.7em;
}
/********************************/
/****** project page *********/
/********************************/
.verticalbar {
    left: 40px;
    top: 1400px;
    display: flex;
    transform: rotate(-90deg);
    transform-origin: 0 50%;
    align-items: center;
    position: absolute;
    text-transform: uppercase;
    font-size:14px;
    font-weight:bold;
    white-space: nowrap;
    width: 450px;
}
#margin-line {
  background:black;
  height:1px;
  margin: 0 20px;
  width: 100%;
}
.wrapper {
  width:75%;
  padding:10em 0 0 13em;
  text-align:left;
}
.wrapper-section {
  padding-top:30px;
}
.img-content {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  margin:200px 50px 0px 0px;
}
.grid {
  clear:both;
  display:flex;
  flex-wrap:wrap;
}
.textoverlay {
  margin-left:6.25%;
  flex-basis: 75%;
  max-width: 75%;
  box-sizing: border-box;
  display:inline-block;
  padding-left: 1rem;
  padding-right:1rem;
  position:relative;
  top:-78px;
}
.textoverlay-title {
  margin: -133px 0 0;
  position:absolute;
  top:0;
  z-index: 1;
}
.content {
  padding:2rem 1rem;
  margin-left: 1.5rem;
  flex-basis: 33%;
  max-width: 33%;
  margin-top: 0;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.photo {
  position: relative;
  margin-left:200px;
  width:35%;
}
.photo-shadow {
  box-shadow:0px 18px 40px rgba(0,0,0,0.1);
}
/********************************/
/****** accordians *********/
/********************************/
dt{
  cursor:pointer;
  font-size:1.5em;
  font-weight:300;
  padding-top:40px;
  border-bottom: 1px solid black;
}
dd {
  padding-left:20px;
}
dl {
  text-align:left;
  padding:50px;
  width:40%;
}
/********************************/
/****** say hello *********/
/********************************/
.headerwhite {
  color:#D8007F;
}
#sayhello {
  background-color:#2E2D34;
  margin:0px;
}
.hello-subtitle {
  color:#D8007F;
  font-size:.7em;
  text-transform:uppercase;
  text-decoration: none;
}
#sayhello-content h2{
  border-bottom:1px solid #D8007F; 
  margin-right:50px; 
}
h5 {
  color:white;
  font-size:1.3em;
  text-decoration:none;
}
.contact-item {
  display:flex;
  flex-wrap:wrap;
  margin:30px;
  font-size:1rem;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.contact-item-content {
  /* Force content above ::after element */
  z-index: 2;
  padding:2em;

}

.contact-item::after,
.contact-item::before {
  border: 1px solid #D8007F;
  display: block;
  height: 100%;
  width: 100%;
}

.contact-item::before {
  /* Set content of box to empty */
  content: " ";
  /* Position box absolute in relation to relative parent */
  position: absolute;
  /* Offset box by 5px */
  left: 10px;
  top: 10px;

  /* Set the background */
  background-image: linear-gradient(0deg, #D8007F 0%, #D8007F 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 0;

  /* Set animation/transition when background-size changes */
  transition: background-size 500ms -200ms;
}

.contact-item:focus::before,
.contact-item:hover::before {
  background-size: 100% 100%;
}

.contact-item::after {
  content: " ";
  left: 0;
  position: absolute;
  top: 0;
  transition: background 600ms;
  background-color:#2E2D34;
}

.contact-contents {
  display:flex;
  flex-wrap:wrap;
  margin-left:50px;
}
#sayhello-content {
  color: white;
}
#linkedin {
  height:172px;
  width:170px;
}
#email {
  height:232px;
  width:172px;
}
#behance {
  height:200px;
  width:172px;
}
/********************************/
/****** responsive *********/
/********************************/
@media screen and (max-width: 960px) {
  .section-content {
    width:75%;
  }
  .homephotos {
    width:80%;
    padding-bottom:6em;
  }
  .white-float {
    width:50%;
    margin-top:100px;
  }
  .head-img {
    width:75%;
  }
  dl {
    width:60%;
    padding-top: 6em;
  }
  .photo {
    width:60%;
  }
  .content {
    max-width:75%;
  }
}
@media screen and (max-width: 660px) {
  .project-desc img {
    width: 100%;
    position:static;
  }
  .project-desc p {
    width:100%;
    margin-bottom: 2em;
  }
  .contact-contents {
    width:100%;
  }
  .section-content {
    width:100%;
  }
  .homephotos {
    width:100%;
  }
  #site-title {
    line-height:1em;
    font-size:4em;
    padding-bottom:1em;
  }
  #site-description {
    font-size:1.5em;
  }
  h1 {
    font-size:4em;
  }
  .navigation {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    display:none;
  }
  ul li {
    width:100%;
  }
}
@media screen and (max-width: 460px) {
  .contact-contents {
    width:100%;
  }
  .section-content {
    width:100%;
  }
  .homephotos {
    width: 100%;
  }
  h1 {
    font-size:3em;
  }
  #site-title {
    font-size:3em;
  }
  #site-description {
    font-size:1em;
  }
  .white-float {
    width:75%;
  }
}
@media screen and (min-width: 660px) {

}






